{%- assign lang = 'de,en,it' | split: ',' -%}
{%- assign lang_name = 'Deutsche,English,Italiano' | split: ',' -%}
<footer>
{% for l in lang %}
{%- assign main = site.data.pages[l][index_main] -%}
{%- if main.first -%}{%- assign main = main | first | first -%}{%- assign sub = site.data.pages[l][index_main][main][index_sub] -%}{%- endif -%}
{%- assign main = main | slugify: "latin" -%}
{%- assign sub = sub | slugify: "latin" -%}
{%- assign url = "" | split: "" | push: l | push: main | push: sub | join: '/' -%}
<a href='{{ url | absolute_url }}' {%- if page.language == l -%}class="active"{%- endif -%}>{{ lang_name[forloop.index0] }}</a>{%- unless forloop.last -%}&nbsp;&nbsp;&nbsp;&nbsp;{%- endunless -%}{% endfor %}
</footer>
