<!DOCTYPE html>
<html lang='{{ page.language | default: 'en_US' }}'>
<head>
  <title>{{ page.title }}</title>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width'>
  {%- if page.redirect_to -%}
  <link rel="canonical" href="{{ page.redirect_to | absolute_url }}"/>
  <meta http-equiv="refresh" content="0;url={{ page.redirect_to | absolute_url }}" />
  {%- endif -%}

  <!-- Favicon -->
  <link rel='icon' href='{{ "assets/images/favicon.ico" | absolute_url }}'>
  <link rel='icon' type='image/png' href='{{ "assets/images/favicon.png" | absolute_url }}'>

  <!-- Cascade Style Sheet -->
  <link rel='stylesheet' href='{{ "assets/css.css" | absolute_url }}?build={{ site.time | date: "%s" }}'>

  <!-- Javascript -->
  <script src='{{ "assets/js.js" | absolute_url }}?build={{ site.time | date: "%s" }}' defer></script>

</head>
{% include sub_navigation.html %}
<body data-language="{{ page.language }}" data-dir="{{ page.dir }}" data-path="{{ page.path }}" data-name="{{ page.name | split: '.' | first }}" data-index-main="{{ index_main }}" data-index-sub="{{ index_sub }}">
  {% include navigation.html  %}
  <main>
    <h1>{{ title_main }}</h1>
    {%- if title_sub -%}{% include submenu.html %}<h2>{{ title_sub }}</h2>{%- endif -%}
    {%- if content.size > 1 or page.redirect_to -%}
    {{ content }}{%- else -%}{%- capture lorem -%}{% include lorem.html %}{%- endcapture -%}{{ lorem | markdownify }}{%- endif -%}
    {% include footer.html %}
  </main>
</body>
</html>